body {
  margin: 0;
  padding: 24px;
  font-family: sans-serif;
}
body table {
  border-collapse: collapse;
}

.tabl1,
.tabl2,
.tabl3,
.tabl4 {
  margin: 32px 0 0 0;
}

.tabl1 table td,
.tabl1 table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.tabl1 tr td:nth-child(1) {
  text-align: left;
}

.tabl2 table td,
.tabl2 table th {
  text-align: left;
  width: 300px;
  padding: 8px;
}
.tabl2 table th {
  border-bottom: 1px solid #D6D6D6;
}

.tabl3 table td,
.tabl3 table th {
  text-align: left;
  width: 300px;
  padding: 8px;
  border-bottom: 1px solid #D6D6D6;
}

.tabl4 {
  position: relative;
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 0px 16px 1px #222222;
  border-radius: 5px;
  color: #222222;
}
.tabl4 .btn {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #222222;
  padding: 1px;
  display: block;
  border-radius: 50%;
  right: -9px;
  top: -9px;
  box-shadow: 0px 0px 4px 1px #222222;
  background-color: #fff;
}
.tabl4 .btn .close {
  width: 16px;
  height: 16px;
  padding: 1px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  background-color: #222222;
  color: #fff;
}
.tabl4 table td:first-child {
  color: #E7242A;
}
.tabl4 table tr:last-child {
  border-bottom-style: hidden;
}
.tabl4 table th {
  line-height: 54px;
}
.tabl4 table td,
.tabl4 table th {
  text-align: left;
  padding: 8px 24px;
  border-bottom: 1px solid #D6D6D6;
}
.tabl4 table span {
  display: inline-block;
  padding: 8px;
  background-color: #E7242A;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.tabl4 table .delete {
  padding: 6px;
  background-color: #DC4E45;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.tabl4 .tfooter {
  border-right: 5px solid #D6D6D6;
  padding-right: 8px;
  margin-top: 16px;
  line-height: 1.5em;
}
.tabl4 .tfooter span {
  display: block;
  text-align: right;
}
.tabl4 .tfooter span:last-child {
  color: #9F9995;
}
.tabl4 p {
  font-style: italic;
  text-align: center;
  color: #E7242A;
}
a {
  color: red;
}